#profile-button {
    margin-left: 165px;
    fill: #eb5364;
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    border-style: none;
}

#profile-button:hover {
    cursor: pointer;
}

.dropdown {
    /* border: greenyellow 1px solid; */
    position: absolute;
    top: 42px;
    right: 25px;
    color: white;
    width: 184px;
}

#logout-button {
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    border-style: none;
    background-color: #1e1e1e;
    font-family: SF-Pro Text-Light;
    color: #f1392f;
    border-radius: 5px; 
    border: rgb(70, 70, 70) solid 1px;
    font-size: small;
}

#logout-button:hover {
    cursor: pointer;
}

#logout-button:hover {
    cursor: pointer;
}