
@font-face {
    font-family: SF Pro;
    src: url('/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro.ttf') format('ttf')
}

@font-face {
    font-family: SF-Pro Display;
    src: url(/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
    font-family: SF-Pro Text-Light;
    src: url(/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: SF-Pro Text-Regular;
    src: url(/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro-Text-Regular.otf);
}


.signup-form-container {
    /* border: 1px solid green; */
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    font-family: SF-Pro Text-Light;
    
}

.signup-form {
    color: white;
    /* border: 1px solid red; */
    height: 500px;
    width: 530px;
    margin-top: 10px;
    margin-left: 20px;
}

.subheader {
    color: gray;
    margin-bottom: 20px;
    font-size: 13px;
}

.submit {
    /* border: cyan 1px; */
    color: white;
    background-color: #151518;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signup-form-items {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

#signup-email {
    background-color: #262628;
    padding: 3%;
    border: 1px solid #424245;
    border-radius: 10px;
    font-size: medium;
    width: 93.5%;
    font-family: SF-Pro Text-Light;
    color: white;
    margin-bottom: 12px;
}
#signup-password {
    background-color: #262628;
    padding: 3%;
    border: 1px solid #424245;
    border-radius: 10px;
    font-size: medium;
    width: 93.5%;
    font-family: SF-Pro Text-Light;
    color: white;
    margin-bottom: 12px;
}
#signup-confirm-password {
    background-color: #262628;
    padding: 3%;
    border: 1px solid #424245;
    border-radius: 10px;
    font-size: medium;
    width: 93.5%;
    font-family: SF-Pro Text-Light;
    color: white;
    margin-bottom: 15px;
}

#signup-firstname {
    background-color: #262628;
    padding: 3%;
    border: 1px solid #424245;
    border-radius: 10px;
    font-size: medium;
    width: 93.5%;
    font-family: SF-Pro Text-Light;
    color: white;
    margin-bottom: 15px;
}
#signup-lastname {
    background-color: #262628;
    padding: 3%;
    border: 1px solid #424245;
    border-radius: 10px;
    font-size: medium;
    width: 93.5%;
    font-family: SF-Pro Text-Light;
    color: white;
    margin-bottom: 15px;
}
#signup-birthdate {
    background-color: #262628;
    padding: 3%;
    border: 1px solid #424245;
    border-radius: 10px;
    font-size: medium;
    width: 93.5%;
    font-family: SF-Pro Text-Light;
    color: white;
    margin-bottom: 15px;
}



.cherry-id{
    font-family: SF-Pro Display;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #f5f5f7;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 32px;
}

.signup-errors {
    list-style: none;
    color: red;
    font-size: small;
    font-family: SF-Pro Text-Regular;

}

.submit-button {
    position: absolute;
    bottom: 9px;
    right: 25px;
    background-color: #fa233b;
    border-radius: 5px;
    color: white;
    font-family: SF-Pro Text-Light;
    padding: 5px;
    font-size: medium;
    width: 100px;
    border-style: none;
} 

.submit-button:hover {
    cursor: pointer;
}

.left-signup, .right-signup {
    width: 135px;
    height: 500px;
    border: 1px solid blue;
}

.exit-button {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 100%;
    width:  35px;
    height: 35px;
    background-color: #262628;
    color: gray;
    border-style: none;
}

.exit-button:hover {
    color: white;
    cursor: pointer;
}





