
@font-face {
    font-family: SF Pro;
    src: url('/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro.ttf') format('ttf')
}

@font-face {
    font-family: SF-Pro Display;
    src: url(/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
    font-family: SF-Pro Text-Light;
    src: url(/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: SF-Pro Text-Regular;
    src: url(/Users/eltionbehrami/apple_music_clone/frontend/src/fonts/SF-Pro-Text-Regular.otf);
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SF Pro Display;
    border-radius: 10px;
    height: 100%;
    border: greenyellow 1px solid;
}

.logo {
    color: white;
}

.header-login {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 20px;
    color: #f5f5f7;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 32px;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-family: SF-Pro Text-Light;
    margin-bottom: 29px;
    margin-top: 22px;
    font-size: 19px;
    color: #f5f5f7;
    /* border: purple solid 1px; */
}

.form-items{
    color: #f5f5f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: green solid 1px;
    margin-bottom: 190px;
}

.errors {
    list-style: none;
    justify-content: center;
}

.login-error {
    /* list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; */
}

#login-errors-container {
    position: absolute;
    background-color: #fae9a3;
    color: #503E30;
    list-style: none;
    top: 345px;
    border-radius: 5px;
    width: 305px;
    height: 65px;
    font-family: SF-Pro Text-Regular;
    font-size: 14px;
    font-weight: 600;
}


#login-email {
    background-color: #262628;
    padding: 3%;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: medium;
    width: 80%;
    font-family: SF-Pro Text-Light;
    color: white
}

#login-password {
    background-color: #262628;
    padding: 3%;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: medium;
    width: 80%;
    font-family: SF-Pro Text-Light;
    color: white
}

.login-button {
    position: absolute;
    top: 293px;
    right: 175px;
    border-radius: 100%;
    width:  20px;
}

.exit-button {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 100%;
    width:  35px;
    height: 35px;
    background-color: #262628;
    color: gray;
    border-style: none;
}

.exit-button:hover {
    color: white;
    cursor: pointer;
}

#demo {
    border: red solid 1px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    background-color: #fa233b;
    border-radius: 5px;
    color: white;
    font-family: SF-Pro Text-Light;
    padding: 5px;
    font-size: medium;
    width: 200px;
    border-style: none;
}

#demo:hover {
    cursor: pointer;
}

