
.left-container {
    display: flex;
    flex-direction: column;
    /* border: solid blue 1px;  */
    background-color: #252526;
    border-right: rgb(60, 60, 60) solid 1px;
    height: 100vh;
    /* width: 260px; */
}